server:
  port: 8761

spring:
  application:
    name: service-registry

eureka:
  instance:
    hostname: ${EUREKA_INSTANCE_HOSTNAME:service-registry}
    prefer-ip-address: false
    instance-id: ${spring.application.name}:${server.port}

  client:
    register-with-eureka: false
    fetch-registry: false
    service-url:
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/
  server:
    enable-self-preservation: false